/* ----------------------------- HERO -------------------------------------------------- */

.about-hero {
    height: 68vh;
    margin-bottom: 5vh;
}

#hero {
    transform: translateY(18vh);
    text-align: center;
}

#hero-span {
    color: var(--sapphire);
}

#hero__span1 {
    color: var(--emerald);
}

#hero-span2 {
    color: var(--emerald);
}

.section-headline {
    text-align: center;
}

/* SECTION BACKGROUNDS */
.greybackground {
    background: var(--white2);
    padding-top: 25vh;
}
/* ------------------------------- TIMELINE --------------------------------------------- */

.timeline-headline {
    margin-top: 40vh;
    text-align: center;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
}

/* TIMELINE COLORING (NOT THE BOXES THEMSELVES) */
.timeline {
    color: var(--white);
}

.timeline ul {
    background: var(--white);
}
.timeline ul > li {
   background: var(--black);
    position: relative;
    margin: 0 auto;
    width: 7px;
    padding-bottom: 40px;
    list-style-type: none;
}

.timeline ul li:last-child {
    padding-bottom: 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.timeline ul li:first-child {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.timeline ul li::before {
    content: '';
    background: var(--white);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.item1::before {
   border: 5px solid var(--emerald);
}

.item2::before{
   border: 5px solid var(--grey2)
}

.item3::before{
   border: 5px solid var(--sapphire);
}

.item4::before {
   border: 5px solid var(--emerald);
}

.item5::before{
   border: 5px solid var(--grey2);
}

.item6::before{
   border: 5px solid var(--sapphire);
}

.item7::before {
   border: 5px solid var(--emerald);
}

.timeline ul li .hidden {
    opacity: 0;
}

/* CONTENT BOX STYLING */

.timeline ul li:nth-child(3n) .content p {
    color: var(--white);
}

.timeline ul li:nth-child(3n) .content h3 {
    color: var(--white);
    text-align: left;
}

.timeline ul li p{
    color: #000000;
}
.timeline ul li .content {
    position: relative;
    top: 7px;
    width: 450px;
    padding: 20px;
    transition: 0.75s;
    transform-origin: top;
    transform: scaleY(0);
}

.content1 {
   background:  var(--emerald);
   left: 50px;
}

.content2 {
   background: var(--grey2);
   left: calc(-450px - 45px);
}

.content3 {
   background: var(--sapphire);
   left: 50px;
}

.content4 {
   background:  var(--emerald);
   left: calc(-450px - 45px);
}
.content5 {
   background: var(--grey2);
   left: 50px;
}

.content6 {
   background: var(--sapphire);
   left: calc(-450px - 45px);
}

.content7 {
   background:  var(--emerald);
   left: 50px;
}

.content1, .content3, .content5, .content7 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.content2, .content4, .content6 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* LINE FROM CONTENT BOX TO TIMELINE */

.timeline ul li:nth-child(odd) .content:before {
   left: -38px;
   border-bottom-left-radius: 5px;
}

.timeline ul li:nth-child(even) .content:before {
  right: -38px;
}

.timeline ul li .content1:before {
   content: '';
   background: var(--emerald);
   position: absolute;
   top: 0px;
   width: 38px;
   height: 5px;
}

.timeline ul li .content2:before {
   content: '';
   background: var(--grey2);
   position: absolute;
   top: 0px;
   width: 38px;
   height: 5px;
}

.timeline ul li .content3:before {
   content: '';
   background: var(--sapphire);
   position: absolute;
   top: 0px;
   width: 38px;
   height: 5px;
}

.timeline ul li .content4:before {
   content: '';
   background: var(--emerald);
   position: absolute;
   top: 0px;
   width: 38px;
   height: 5px;
}

.timeline ul li .content5:before {
   content: '';
   background: var(--grey2);
   position: absolute;
   top: 0px;
   width: 38px;
   height: 5px;
}

.timeline ul li .content6:before {
   content: '';
   background: var(--sapphire);
   position: absolute;
   top: 0px;
   width: 38px;
   height: 5px;
}

.timeline ul li .content7:before {
   content: '';
   background: var(--emerald);
   position: absolute;
   top: 0px;
   width: 38px;
   height: 5px;
}

/* CONTENT HIDER PSEUDOELEMENT */

.text1::before{
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: var(--emerald);
    transform-origin: right;
    transform: scaleX(1);
}

.text2::before{
    content: '';
    position: absolute;
    top: 5%;
    left: 3%;
    width: 90%;
    height: 90%;
    background: var(--grey2);
    transform-origin: left;
    transform: scaleX(1);
}

.text3::before{
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: var(--sapphire);
    transform-origin: right;
    transform: scaleX(1);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.text4::before{
    content: '';
    position: absolute;
    top: 5%;
    left: 3%;
    width: 95%;
    height: 90%;
    background: var(--emerald);
    transform-origin: left;
    transform: scaleX(1);
}

.text5::before{
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: var(--grey2);
    transform-origin: right;
    transform: scaleX(1);
}

.text6::before{
    content: '';
    position: absolute;
    top: 5%;
    left: 3%;
    width: 90%;
    height: 90%;
    background: var(--sapphire);
    transform-origin: left;
    transform: scaleX(1);
}

.text7::before{
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 95%;
    height: 90%;
    background: var(--emerald);
    transform-origin: right;
    transform: scaleX(1);
}

/* JAVASCRIPT */
.timeline ul li .content[data-scroll='in']{
    transition-delay: 1s;
    transition: 0.75s;
    transform-origin: top;
    transform: scaleY(1);
}

.text1[data-scroll='in']:before{
    transition-delay: 1.75s;
    transform: scaleX(0);
    transform-origin: right center;
    transition: 1s;
}

.text3[data-scroll='in']:before{
    transition-delay: 1.75s;
    transform: scaleX(0);
    transform-origin: right center;
    transition: 1s;
}

.text5[data-scroll='in']:before{
    transition-delay: 1.75s;
    transform: scaleX(0);
    transform-origin: right center;
    transition: 1s;
}

.text7[data-scroll='in']:before{
    transition-delay: 1.75s;
    transform: scaleX(0);
    transform-origin: right center;
    transition: 1s;
}

.text2[data-scroll='in']:before{
    transition-delay: 1.75s;
    transform: scaleX(0);
    transform-origin: left center;
    transition: 1s;
}

.text4[data-scroll='in']:before{
    transition-delay: 1.75s;
    transform: scaleX(0);
    transform-origin: left center;
    transition: 1s;
}

.text6[data-scroll='in']:before{
    transition-delay: 1.75s;
    transform: scaleX(0);
    transform-origin: left center;
    transition: 1s;
}

/* ------------------------- ----- Media Queries ----- ------------------------- */

/* ADJUST SECTION HEIGHT FOR TALL SCREENS (LIKE IPAD PRO) */
@media screen and (min-height: 1100px) {
    section {
        min-height: 75vh;
    }
}

/* TABLETS AND SMALL LAPTOPS */
@media screen and (max-width: 1020px) {
    .timeline ul li .content {
        width: 41vw;
   }
    .timeline ul li:nth-child(even) .content {
        left: calc(-41vw - 45px);
   }
}

/* SMALL TABLETS AND PHONES */
@media screen and (max-width: 750px) {
    .timeline ul li .content {
        transition: none;
   }
    
}

@media screen and (max-width: 700px) {
    .timeline ul li {
        margin-left: 20px;
   }
    .timeline ul li .content {
        width: calc(100vw - 100px);
        transition: none;
   }
    .timeline ul li .content h3 {
        text-align: left;
   }
    .timeline ul li:nth-child(even) .content {
        left: 50px;
        transition: none;
   }
    .timeline ul li:nth-child(even) .content:before {
        left: -38px;
        border-bottom-left-radius: 5px;
        transition: none;
   }

   /* CORRECTING PSEUDOELEMENT SCALE(X) DIRECTION FOR SMALL SCREENS */
   .text2::before{
       transform-origin: right;
       transform: scaleX(1);
   }

   .text4::before{
        transform-origin: right;
        transform: scaleX(1);
    }

    .text6::before{
        transform-origin: right;
        transform: scaleX(1);
    }

    .text2[data-scroll='in']:before{
        transition-delay: 1s;
        transform: scaleX(0);
        transform-origin: right center;
        transition: 1s;
    }
    
    .text4[data-scroll='in']:before{
        transition-delay: 1s;
        transform: scaleX(0);
        transform-origin: right center;
        transition: 1s;
    }
    
    .text6[data-scroll='in']:before{
        transition-delay: 1s;
        transform: scaleX(0);
        transform-origin: right center;
        transition: 1s;
    }

    .timeline ul li .content[data-scroll='in']{
        transition: 0.5s;
        transform-origin: top;
        transform: scaleY(1);
    }

    /* CORRECTING p text-align */
    .timeline ul li:nth-child(odd) .content p {
        text-align: left;
    }
    
    .timeline ul li:nth-child(even) .content p {
       text-align: left;
    }

    .timeline h3 {
        padding: 0;
    }

    /* Correcting border radius */
    .content2, .content4, .content6 {
        border-top-left-radius: 0px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

}
/* ---------------------- QUOTE ----------------------------------*/
.quote-skew {
    background: transparent;
    transform: translateY(135px);
}

.quote-skew::after {
    transform-origin: right top;
    transform: skewY(5deg);
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: var(--grey);
    top: 0;
    z-index: -1;
    content: '';
}

.big-quote{
    text-align: center;
    transform: scale(1.0);
    transition: 0.5s ease-in-out;
}

.big-quote-span {
    color: var(--sapphire);
}


.quoted-by {
    margin-top: 3vh;
    margin-left: 40%;
    font-weight: normal;
    transform: scale(1.0);
    transition: 0.5s ease-in-out;
}

.quotesection-quote {
    transform-origin: center;
    transform: scale(0.7);
    transition: 1.5s;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40vh;
}

.quotesection-wrapper {
    transform: translateY(20vh);
}

.quotesection-quote[data-scroll='in']{
    transition: 1.5s;
    transform-origin: center;
    transform: scale(1);
}

.quotesection-quote[data-scroll='out']{
    transition: 1.5s;
    transform-origin: center;
    transform: scale(0.7);
}

/* ---------------------- SKILL BARS ----------------------------------- */

.skillsection-subtitle {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.grid {
    margin: auto;
    width: 50vw;
    display: grid;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 35fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(50px,auto);
}

.skill-name {
    align-self: center;
    justify-self: end;
}

.colorbar {
    transform-origin: left;
    transform: scaleX(0);
}

.greybar {
    border-radius: 10px;
    height: 15px;
    align-self: center;
    justify-self: start;
    position: relative;
    background: rgba(0,0,0,0.1);
    width: 100%;
    overflow: hidden;
}

.skill-100 {
    border-radius: 10px;
    background: var(--emerald);
    height: 100%;
    width: 100%;
    transform-origin: left;
    transform: scaleX(0);
}
.skill-75 {
    border-radius: 10px;
    background: rgba(98, 195, 112,.75);
    height: 100%;
    width: 75%;
    transform-origin: left;
    transform: scaleX(0);
}
.skill-50 {
    border-radius: 10px;
    background: var(--sapphire);
    height: 100%;
    width: 50%;
    transform-origin: left;
    transform: scaleX(0);
}
.skill-25 {
    border-radius: 10px;
    background: rgba(66, 87, 173,.75);
    height: 100%;
    width: 25%;
    transform-origin: left;
    transform: scaleX(0);
}

/* SKILLBAR MOVE ON SCROLL */
.colorbar[data-scroll='in']{
    transition: 0.75s;
    transform-origin: left;
    transform: scaleX(1);
}
/* ----------------------------- SUMMARY SECTION ----------------------------------*/
.section-headline-summ {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 10vh;
}
.summarygrid {
    max-height: 200vh;
    width: 50vw;
    margin: auto;
    display: grid;
    row-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}

.summary-quote2-container {
    align-self: center;
    text-align: left;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

.summary-quote2-container:before {
    content: '';
    position: absolute;
    width: 7.5px;
    height: 100%;
    top: 0;
    left: -15px;
    background: var(--sapphire);
    border-radius: 15px;
    transform-origin: bottom;
    transform: scaleY(0);
}

.summary-quote2-container[data-scroll='in']:before{
    transform: scaleY(1);
    transition: 0.5s ease-in;
}

.summary-quote3-container {
    align-self: center;
    text-align: right;
    position: relative;
    grid-column: 2/3;
    grid-row: 2/3;
}

.summary-quote3-container:before {
    content: '';
    position: absolute;
    width: 7.5px;
    height: 100%;
    top: 0;
    right: -15px;
    background: var(--emerald);
    border-radius: 15px;
    transform-origin: bottom;
    transform: scaleY(0);
}

.summary-quote3-container[data-scroll='in']:before{
    transform: scaleY(1);
    transition: 0.5s ease-in;
}

.summary-quote4-container {
    align-self: center;
    text-align: left;
    position: relative;
    grid-column: 1/2;
    grid-row: 3/4;
}

.summary-quote4-container:before {
    content: '';
    position: absolute;
    width: 7.5px;
    height: 100%;
    top: 0;
    left: -15px;
    background: var(--sapphire);
    border-radius: 15px;
    transform-origin: bottom;
    transform: scaleY(0);
}

.summary-quote4-container[data-scroll='in']:before{
    transform: scaleY(1);
    transition: 0.5s ease-in;
}

.summary-quote5-container {
    align-self: center;
    text-align: right;
    position: relative;
    grid-column: 2/3;
    grid-row: 4/5;
}

.summary-quote5-container:before {
    content: '';
    position: absolute;
    width: 7.5px;
    height: 100%;
    top: 0;
    right: -15px;
    background: var(--emerald);
    border-radius: 15px;
    transform-origin: bottom;
    transform: scaleY(0);
}

.summary-quote5-container[data-scroll='in']:before{
    transform: scaleY(1);
    transition: 0.5s ease-in;
}

.summary-quote6-container {
    align-self: center;
    text-align: center;
    position: relative;
    grid-column: 1/3;
    grid-row: 5/6;
}

@media screen and (max-width: 550px) {
    .summarygrid {
        grid-template-columns: 1fr;
    }
    .summary-quote2-container {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .summary-quote3-container {
        grid-column: 1/2;
    }

    .summary-quote4-container {
        grid-column: 1/2;
    }

    .summary-quote4-container {
        grid-column: 1/2;
    }
    .summary-quote5-container {
        grid-column: 1/2;
    }
}

/* -------------------------- CONTACT FORM ---------------------------------------- */
.contactsection {
    height: 80vh;
    margin-top: 60vh;
}

.h2__form-about {
    color: var(--black);
    text-align: center;
}


