/* GENERAL AND BACKGROUND */
:root {
    --white: #f7f7ff;
    --orange: #e55812;
    --yellow: #e2c044;
    --green: #8ed081;
    --blue: #2e5266;
    --paleorange:#f07c42;
    --paleyellow:  #ead177;
    --palegreen: #b4e0ac;
    --paleblue:#40738f;
    --menu-speed: 0.85s;

    --white: #f7f7ff;
    --white2: #F2F3F8;
    --grey2: #E3E5EF;
    --emerald: #62C370;
    --grey: #CFD3DE;
    --black: #171A21;
    --sapphire: #4257ad;
  }




html{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: var(--white);
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: calc(1em + 1vw);
}

body{
    margin: 0px;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

section {
    height: 100vh;
}

.section {
    min-height: 100vh;
}

.content-wrapper {
    max-width: 1920px;
    margin: auto;
}

/* --------- FONT AND TEXT STYLES -------------- */
p, h1, h2, h3, h4, h5, h6, ul {
    color: var(--black);
}

h1 {
    font-size: 2em;
}
#h2-white, #h5-white {
    color: var(--white);
}

h5 {
    font-weight: lighter;
}

/* Body text */
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/* List styling */
ul {
    list-style-type: none;
    font-size: 1.125rem;
}

/* Link styling */
a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    opacity: 0.5;
    transition: 0.18s ease-in-out
}

.icon-properties {
    height: 2rem;
    width: 2rem;
}

.sup {
    position: relative;
    bottom: 1ex;
    font-size: 80%;
}

/* ---------------HEADER WITH REGULAR NAVBAR --------------------- */
.header{
    position: relative;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 100%;
}

.header__left {
    font-family: 'Heebo', sans-serif;
    margin: 10px;
    padding: 10px;
}

.header__right {
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.header__right-1 {
    padding: 10px;
}

/* MENU WRAP WITH ALL OF THE HAMBURGER STUFF -------------- */

.hamburger {
    position: static;
    /* DIFFERENT FROM OTHER PAGES */
    box-sizing: content-box;
}
.menu-wrap {
    position: absolute;
    -webkit-overflow-scrolling: touch;
    top: 0;
    right: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0;
}

/* POSITION OF SQUARE BOX THAT CONTAINS HAMBURGER */
.menu-wrap .hamburger {
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------HAMBURGER ICON -------- */

    /* Middle line */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: var(--black);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

    /* Create top and bottom line */
.menu-wrap .hamburger >div:before,
.menu-wrap .hamburger >div:after {
    content: '';
    position: absolute;
    z-index: 1;
    border-radius: 6px;
    top: -15px;
    width: 100%;
    height: 8px;
    background: inherit;
}
    /* Move bottom line to bottom */
.menu-wrap .hamburger >div:after {
    top: 15px;
}


/* Toggle checkbox/hamburger animation */
        /* + sign means: if X then style Y */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* SHOW MENU */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    /* ADD VAR FOR MENU SPEED! */
    transition-duration: var(--menuspeed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

/* STYLING OF MENU */
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-wrap .menu > div {
    background: rgb(247, 247, 255,0.95);
    width: 300vw;
    height: 300vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    /* CIRCLE EFFECT */
    transform: scale(0); 
    transform-origin: right;
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: var(--black);
    padding: 1rem;
    font-family: 'Heebo', sans-serif;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
    opacity: 0.5;
    transition: .18s ease-in-out;
}



/* Hide Hamburger, Show regular navbar */
.menu-wrap {display: none;}

/* [HAMBURGER ON SMALL SCREENS + RESPONSIVENESS] */
@media screen and (max-width: 550px){
    /* HIDE SCROLL DOWN ARROW */
    #scrolldownArrow {display: none; }

    /* SHOW HAMBURGER ICON AND MENU ON SMALL SCREENS */
    .menu-wrap {display: block;}

    /* HIDE REGULAR NAVBAR ON SMALL SCREENS */
    .header__right {display: none; }
}

@media screen and (max-width: 700px) {
    /* SHOW HAMBURGER ICON AND MENU ON MEDIUM SCREENS */
    .menu-wrap {display: block;}

    /* HIDE REGULAR NAVBAR EXCEPT koen raijer ON MEDIUM SCREENS */
    .header__right {display: none;}
}

/* FOOTER */
footer {
    font-size: 0.8rem;
    padding-left: 30px;
    padding-right: 30px;
    height: 15vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Heebo', sans-serif;
}

footer a {
    font-size: 0.8rem;
}

footer p {
    font-size: 0.8rem;
}

.footer-right{
    display: flex;
    flex-flow: row wrap;
}

.footer-child-1 {
    padding-right: 10px;
}

.footer-img {
    height: 70px;
    width: 70px;
    padding-right: 15px;
}

.img-3 {
    padding-right: 0px;
    height: 60px;
}

/* FOR WORK PAGE */
.static-footer-image {
    padding-right: 30px;
}

/* FOOTER REALIGNMENT ON SMALLER SCREENS */
@media screen and (max-width: 450px) {
    footer {
        flex-flow: column-reverse nowrap;
    }
}

/* -------------------------- CONTACT FORM ---------------------------------------- */
.contactsection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.social-container {
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.h2__form {
    text-align: center;
}

#learn-more-link {
    color: var(--sapphire);
}

