.section-header-wrapper {
    transform: translateY(10vh);
}

.section-body-wrapper {
    transform: translateY(15vh);
}

h1, h2, h3, h5 {
    padding-left: 30px;
    padding-right: 30px
}

/* SKEWED BACKGROUND */
.skew1{
    background: var(--white);
    transform: translateY(-135px);
}

.skew2{
    background: var(--grey2);
    transform: translateY(-135px);
}

.skew3{
    background: var(--black);
    transform: translateY(-135px);

}

.skew4{
    background: var(--white);
    transform: translateY(-135px);
}

.skew1::after{
    transform-origin: right top;
    transform: skewY(5deg);
}

.skew2::after{
    transform-origin: right top;
    transform: skewY(5deg);
}

.skew3::after{
    transform-origin: right top;
    transform: skewY(5deg);
}

.skew4::after{
    transform-origin: right top;
    transform: skewY(5deg);
}

.skew::after{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: inherit;
    z-index: -1;
    bottom: 0;
    content: '';
}

/* ------------------HERO--------------------- */

#hero {
    transform: translateY(18vh);
    text-align: center;
}
#hero__span1 {
    color: var(--emerald);
}

#hero__span2 {
    color: var(--sapphire);
}

.hero-icon-container {
    position: relative;
}

/* ---------------- SCROLL ARROW -------------- */
.arrow {
    border: solid var(--black);
    border-width: 0 8px 8px 0;
    border-radius: 4px;
    display: block;
    padding: 13px;
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    cursor: pointer;
    bottom: 20vh;
}

.arrow:hover {
    opacity: 0.5;
    transition: .18s ease-in-out;
}

.arrow-white {
    border: solid var(--white);
    border-width: 0 8px 8px 0;
    border-radius: 4px;
    display: block;
    padding: 13px;
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    cursor: pointer;
    bottom: 20vh;
}
/* JAVASCRIPT SECTION2 u/i 4 */

.js__move-from-left {
    opacity: 0;
}

.js__move-from-left[data-scroll='in']{
    transition: 0.5s ease-in-out;
    transform: translateX(0);
    opacity: 1;
}

.js__move-from-left[data-scroll='out']{
    transition: all 0.5s ease-in-out;
    transform: translateX(-200px);
}

.js__move-from-right {
    opacity: 0;
}

.js__move-from-right[data-scroll='in']{
    transition: 0.5s ease-in-out;
    transform: translateX(0);
    opacity: 1;
}

.js__move-from-right[data-scroll='out']{
    transition: all 0.5s ease-in-out;
    transform: translateX(200px);
}

/* REST OF WEBSITE */
#section1{
    background: var(--white);
    margin-bottom: 10%;
}
#section2{
    text-align: left;
    padding-left: 30px;
    background: var(--white);
}

#section3{
    text-align: right;
    background: var(--grey2);
    padding-right: 30px;
}

#section4 {
    text-align: left;
    background: var(--black);
    padding-left: 30px;
}

#section5 {
    background: var(--white);
}

/* CONTACT */

.h2__form-index {
    color: var(--black);
    text-align: center;
}

#learn-more-link {
    color: var(--sapphire);
}
