<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}

      <p class="feed-subscribe">
        <a rel="me" target="_blank" href="https://twitter.com/koenraijer" title="koenraijer">Twitter</a> ⬩ 
        <a rel="me" target="_blank" href="https://www.linkedin.com/in/koen-raijer-3495a7127/" title="koenraijer">LinkedIn</a> ⬩ 
        <a href="{{ 'feed.xml' | relative_url }}"> RSS Feed</a> ⬩ 
        <a href="{{ 'sitemap.xml' | relative_url }}">Sitemap</a>
      </p>

      </div>
      <div class="footer-col">
        {% include tagcloud.html %}
      </div>
    </div>

    

  </div>

</footer>
