<div class="hero">
    <div class="wrapper">
    <!-- <h1><a class="site-title hero-title" rel="author" href="{{ "/" | relative_url }}"><img class="hero-image" src="/assets/images/210219Logo.svg"></a></h1> -->
    <h1><a class="site-title hero-title post-title" rel="author" href="{{ "/" | relative_url }}">Koen Raijer</a></h1>
      <h2>✍️ over tech, gezondheid en wetenschap.<br>Meer op <a rel="me" target="_blank" href="https://www.linkedin.com/in/koen-raijer-3495a7127/" title="koenraijer">LinkedIn</a> of <a rel="me" target="_blank" href="https://twitter.com/koenraijer" title="koenraijer">Twitter</a>.</h2>
    </div>
</div>