<div class="hero">
    <div>
      <h1><a class="hero-title post-title" rel="author" href="{{ "/" | relative_url }}">Weetgraag</a></h1>
    </div>
    
      <h2> [w<span style= "text-decoration: underline;">ee</span>t·graag] - <b>bnw</b>. (...grager, -st), gaarne studeerende; de weetgrage jeugd.</h2>
      {% if page.url == "/" %}
        <div class="text-box">👋 Hoi, ik ben Koen, hier duik ik in allerlei onderwerpen en schrijf erover. Een blog dus; over wetenschap, technologie, geneeskunde, filosofie en futurisme. <a href="/info/">Lees meer...</a></div>
      {% endif %}
  </div>
  <hr>