{% if post.category == "Personal" %}
<img class='icon' src="/assets/images/me.svg">
{% endif %}
{% if post.category == "Philosophy" %}
<img class='icon' src="/assets/images/notebook.svg">
{% endif %}
{% if post.category == "Programming" %}
<img class='icon' src="/assets/images/robot.svg">
{% endif %}

{% if page.category == "Personal" %}
<img class='icon' src="/assets/images/me.svg">
{% endif %}
{% if page.category == "Philosophy" %}
<img class='icon' src="/assets/images/notebook.svg">
{% endif %}
{% if page.category == "Programming" %}
<img class='icon' src="/assets/images/robot.svg">
{% endif %}