<header class="header">
    <a class="header__left" href="/">koen raijer</a>
    <div class='header__right'>
        <a class="header__right-1" href='/blog/'>blog</a>
        <a href='/about/'>resumé</a>
    </div>  

    <div class='menu-wrap'>
        <input type='checkbox' class='toggler'>
        <div class='hamburger'><div></div></div>
        <div id='menu' class='menu'>
            <div>
                <div>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li><a href='/blog/'>blog</a></li>
                        <li><a href='/about/'>resumé</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</header>
