/* GENERAL AND BACKGROUND */
:root {
    --white: #f7f7ff;
    --white2: #F2F3F8;
    --white3: #f3f4f8;
    --grey2: #E3E5EF;
    --grey2-50: rgba(230, 234, 253, 0.5);
    --emerald: #82FF9E;
    --emerald-50: rgba(130, 255, 158, 0.5);
    --grey: #CFD3DE;
    --grey3: #d7dce9;
    --grey4: #353535;
    --grey6: #5f5f5f;
    --grey5: #898989;
    --black: #1a1e25;
    --sapphire: #0f52ba;
    --sapphire-25: rgb(66, 87, 173, 0.25);
    --sapphire-twentyfive: #c9d0ea;
    --sapphire-fifty: rgb(66, 87, 173, 0.4);
    --sapphire-50: #acb6df;
    --emerald-25:rgba(98, 195, 112, 0.25);
    --emerald-old: #62c370;
  }

html{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: var(--white);
    overflow-x: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: calc(1em + 0.25vmin);
}

body{
    margin: 0;
    width: 100%;
    font-family: "Roboto", arial, sans-serif;
    position: relative;
    height: 100%;
}

.content-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.all-content-wrapper {
    margin-top: 4rem;
    min-height: 100%;
    margin-bottom: -4rem;
    padding-bottom: 4rem;
}

#gen-padding {
    margin: 0 0 2rem;
    padding: 1rem;
}

#post-title::before {
    height: 0;
}

#post-title:hover::before {
    height: 0;
}

#post-title {
    opacity: 1;
}

#post-title:hover {
    opacity: 0.5;
}
/* ------------------- POST Kramdown layout ------------------ */
.TOC {
    padding: 0.75rem;
    line-height: 1.25rem;
    display: inline-block;
    font-size: 0.8rem;
}

.post-h2 {
    margin: 1.5rem 0 1.5rem;
}

.post-h4-toc {
    color: var(--sapphire);
    margin: 1rem 0 0;
    padding: 0 0.75rem 0;
}

.post-h4 {
    font-weight: bold;
    margin: 1.5rem 0 1.5rem;
}

.post-h6-toc {
    color: var(--sapphire);
    margin: 1rem 0 0;
    padding-left: 0.75rem;
}

#emphasis {
    font-size: 1rem;
}

ol {
    padding: 0.5rem 1.5rem 0.5rem;
    line-height: 1.25rem;
    font-size: 0.9rem;
}

#blogbox {
    border: solid 5px var(--grey2);
    border-radius: 5px;
    display: inline-block;
    margin: 0.75rem 0 0.75rem;
}

#tagcloud {
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

/* ------------------------------------ Blog page ----------------------------------------------- */
.blog-article {
    padding-bottom: 0.5rem;
    border-bottom: 5px dotted var(--grey2);
}

#blogmargins {
    position: relative;
    margin: 2rem 4rem 2rem;
    padding-bottom: 2rem;
}

#blogmarginsheader {
    position: relative;
    margin: 2rem 4rem 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#blogpostpaddingnoline {
    padding: 1.5rem; 
}

#blogpostpadding {
    padding: 0 0 2rem;
}

#tagpadding {
    margin: 0 0 0.75rem;
}

#blogpostpaddingnoline div, #blogpostpaddingnolineslim div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.posts-title-date {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.tag-date-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

#blogmenu li h5 a {
    font-weight: normal;
}

/* Page layout */
.bloggrid {
    display: grid;
    grid-auto-columns: 4fr 1fr;
    position: relative;
    column-gap: 2rem;
}

.bloggrid div:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
}

.bloggrid div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}

/* Tags */
.highlight, .highlight a, .highlight b {
    color: var(--grey5);
    font-size: 0.8rem;
    font-family: 'Rubik', sans-serif;
    opacity: 1;
}

.highlight a:hover {
    opacity: 0.5;
}

.highlight a:hover::before {
    height: 0;
}

.highlight a::before {
    height: 0;
}


@media screen and (max-width: 700px) {
    .bloggrid {
        display: grid;
        grid-auto-columns: 1fr;
        position: relative;
        column-gap: 0rem;
    }

    .bloggrid div:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .bloggrid div:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #blogmargins {
        position: relative;
        margin: 1rem 2rem 1rem;
    }

    #blogmarginsheader {
        position: relative;
        margin: 1rem 2rem 1rem;
    }
}


/* ---------------- SCROLL ARROW -------------- */
.arrow {
    height: 1.2rem;
    width: auto;
    position: relative;
}

#backtop {
    position: fixed;
    right: 5%; 
    bottom: 5%;
    height:40px;
    width:40px;
    cursor:pointer;
    transition:all 0.3s linear;
    z-index: 1;

    opacity:1;
    display:none;
}

#backtop.mcOut {
    opacity:0;
}

.arrow:hover {
    opacity: 0.5;
    transition: .18s ease-in-out;
}

@media screen and (max-width: 600px){
    .arrow {
        display: none;
    }
}

/* BUTTON */
.button2 {
    padding: 0.625rem 0.625rem 0.625rem;
    border: none;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
    position: relative;
    font-size: 0.85rem;
    z-index: 1 !important;
    border-radius: 5px;
    transition: .25s ease-in-out;
}

.button2:focus {
    outline: none;
}

.button2:hover {
    transition: .25s ease-in-out;
    -webkit-transform: translate(-0.15em, -0.15em);
    transform: translate(-0.15em, -0.15em);
}

.button2:hover::before {
    border-color: transparent;
    transition: .25s ease-in-out;
    transform: translate(0.3em, 0.3em);
}


.button2::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0.15rem;
    left: 0.15rem;
    background: var(--grey4);
    border-radius: 5px;
    z-index: -1 !important;
    transition: .25s ease-in-out;
}

.button2::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--white);
    left: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: -1 !important;
    border: var(--grey4) 0.15rem solid;
}

.button2 a:hover {
    opacity: 1;
}

.button2 a {
    color: var(--grey4);
}

@media screen and (max-width: 700px) {
    .button2 {
        margin-bottom: 0.5rem;
    }
}

/* --------- FONT AND TEXT STYLES -------------- */
p, a, li, h1, h2, h3, h4, h5, h6, ul {
    color: var(--grey4);
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 2em;
}
#h2-white, #h5-white {
    color: var(--white);
}

/* Body text */
p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    line-height: 1.15rem;
    font-weight: normal;
}

#boldspan {
    font-weight: bold;
}

/* List styling */
ul {
    list-style-type: none;
}

/* Link styling */
a {
    text-decoration: none;
    color: var(--black);
    position: relative;
    opacity: 1;
}

a:hover {
    opacity: 0.5;
}

header a:hover {
    opacity: 1;
}

header a::before {
    position: absolute;
    content: '';
    display: inline-block;
    left: -1%;
    bottom: 0;
    width: 102%;
    height: 0.3rem;
    background: var(--emerald-50);
    transition: 0.15s ease-in-out;
}

header a:hover::before {
    height: 105%;
    transition: 0.15s ease-in-out;
}

.sup {
    position: relative;
    bottom: 1ex;
    font-size: 80%;
}

/* Title styling */
.pagetitle {
    display: flex;
    justify-content: start;
    text-align: left;
}

.title {
    display: flex;
    justify-content: start;
    text-align: left;
}

.subtitle {
    text-align: left;
}

#subsubtitle {
    color: var(--sapphire);
    margin-bottom: 0.25rem;
    font-weight: bold;
}

#Rubik {
    font-family: "Rubik", sans-serif;
}


/* ---------------HEADER WITH REGULAR NAVBAR --------------------- */

.header{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1000px;
    height: 4rem;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    margin: 0 4rem 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    z-index: 100000 !important;
}

.header__left {
    z-index: 100000 !important;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 1000vw;
    height: 4rem;
    background: var(--white);
    z-index: 99999 !important;
}

#header-line{
    position: fixed;
    height: 0.25rem;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("/assets/images/gradient.svg");
    top: 4rem;
    left: 0;
    z-index: 10000 !important;
}

.header__right {
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
    transform: translateX(-8rem);
}

.header__right-1 {
    margin-right: 1.5rem;
}

.header__right a {
    font-size: 1.1rem;
    color: var(--black);
}


/* MENU WRAP CONTAINING TOGGLER AND HAMBURGER ICON */
.menu-wrap {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 100000 !important;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-4rem);
}

.menu-wrap .hamburger {
    box-sizing: content-box;
    position: absolute;
    transform: translateX(-4rem);
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------HAMBURGER ICON -------- */

    /* Middle line */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: var(--grey4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

    /* Create top and bottom line */
.menu-wrap .hamburger >div:before,
.menu-wrap .hamburger >div:after {
    content: '';
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    top: -12px;
    width: 100%;
    height: 5px;
    background: inherit;
}
    /* Move bottom line to bottom */
.menu-wrap .hamburger >div:after {
    top: 12px;
}


/* Toggle checkbox/hamburger animation */
        /* + sign means: if X then style Y */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* SHOW MENU */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    /* ADD VAR FOR MENU SPEED! */
    transition-duration: var(--menuspeed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

/* STYLING OF MENU */
.menu {
    position: fixed;
    top: 0;
    left: -10vw;
    width: 110vw;
    height: 100vh;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu > div {
    background: rgb(247, 247, 255,0.95);
    width: 300vw;
    height: 300vw;
    left: 0;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    /* CIRCLE EFFECT */
    transform: scale(0); 
    transform-origin: right;
    transition: all 0.4s ease;
}

.menu > div > div {
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu > div > div > ul  {
    list-style: none;
    line-height: 3rem;
}

.menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    color: var(--black);
}

.menu > div > div > ul > li > a:hover {
    opacity: 0.5;
    transition: .18s ease-in-out;
}



/* Hide Hamburger, Show regular navbar */
.menu-wrap {display: none;}

/* [HAMBURGER ON SMALL SCREENS + RESPONSIVENESS] */
@media screen and (max-width: 550px){
    /* HIDE SCROLL DOWN ARROW */
    /* SHOW HAMBURGER ICON AND MENU ON SMALL SCREENS */
    .menu-wrap {display: block;}

    /* HIDE REGULAR NAVBAR ON SMALL SCREENS */
    .header__right {display: none; }
}

@media screen and (max-width: 700px) {
    /* SHOW HAMBURGER ICON AND MENU ON MEDIUM SCREENS */
    .menu-wrap {display: block;}
    /* HIDE REGULAR NAVBAR EXCEPT koen raijer ON MEDIUM SCREENS */
    .header__right {display: none;}
}

/* FOOTER */
footer {
    position: relative;
    margin: 0 auto 0;
    font-size: 0.7rem;
    height: 4rem;;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 1em;
    width: 1em;
    display: inline-block;
    transform: translateY(0.2rem);
}


/* ----------------------------------- INDEX INDEX INDEX INDEX INDEX ------------------------------- */
h5 {
    font-weight: normal;
}

#hero__span1 {
    color: var(--emerald);
}

#hero__span2 {
    color: var(--sapphire);
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .index-hero h1 {
        font-size: 1.5rem;
    }

    .index-hero h5 {
        font-size: 0.8rem;
    }
}

@media screen and (max-height: 500px) and (max-width: 600px) {
    .index-hero h1 {
        font-size: 1.3rem;
    }

    .index-hero h5 {
        font-size: 0.7rem;
    }
}

/* HERO WRAPPER */
.hero-wrapper {
    background-image: url("/assets/images/gradient.svg");
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 700px) {
    .header {
        margin: 0 2rem 0;
    }
}

/* REST OF WEBSITE */

.logo {
    position: relative;
    max-height: 7rem;
    max-width: 100%;
    transform: rotate(180deg);
    float: right;
}

.logo2 {
    position: relative;
    max-height: 8rem;
    max-width: 100%;
    transform: rotate(180deg);
}

#hero-sub {
    font-weight: normal;
}

/* --------------------------------- ABOUT ABOUT ABOUT ABOUT ABOUT ---------------------------------- */
.aboutheader-wrapper {
    justify-content: center;
    align-content: center;
    background: var(--grey2);
    border-radius: 15px;
    margin: 0 1rem 0;
    padding: 1.5rem 1.5rem 1rem;
}

/* ----------------------------- HERO -------------------------------------------------- */

.about-wrapper {
    height: 20vh;
}

#hero-span1 {
    color: var(--sapphire);
}

#hero-span2 {
    color: var(--emerald);
}

.section-headline {
    text-align: center;
}


/* SECTION BACKGROUNDS */
.greybackground {
    background: var(--white2);
    padding-top: 25vh;
}

#section2, .section1, .section3 #section5, #section4, #sectionx {
    position: relative;
    margin-top: 5%;
    margin-bottom: 0;
    width: 100%;
}
