/* ---------------------------------------------------------------------------------------------------------------------------------------------------
                                                                      THEME
---------------------------------------------------------------------------------------------------------------------------------------------------*/
@charset "utf-8";

$accent:                  #FF4000 !default;

$brand-color:             #999999 !default;
$brand-color-light:         lighten($brand-color, 5%) !default;
$brand-color-lightest:      lighten($brand-color, 15%) !default;
$brand-color-dark:          darken($brand-color, 25%) !default;

$text-color:             #1f1f1f !default;
$background-color:       #fbfbfb !default; 

$background-color-dark:   darken($background-color, 5%) !default;
$background-color-light: lighten($background-color, 3.5%) !default;
$background-color-lighter: lighten($background-color, 7%) !default;
$background-color-lightest: lighten($background-color, 15%) !default;
$code-background-color:  $background-color-lighter !default;

$link-base-color:       $text-color !default;
$link-visited-color:    $link-base-color !default;
$link-hover-color:      $accent !default;

$border-color-01:       $brand-color-dark !default;
$border-color-02:       $brand-color-light !default;
$border-color-03:       $brand-color !default;

$table-text-color:      $text-color !default;
$table-zebra-color:     lighten($background-color, 4%) !default;
$table-header-bg-color: lighten($background-color, 10%) !default;
$table-header-border:   lighten($background-color, 21%) !default;
$table-border-color:    $border-color-01 !default;

.highlight {
  .c     { color: #545454; font-style: italic } // Comment
  .err   { color: #f07178; background-color: #e3d2d2 } // Error
  .k     { color: #89DDFF; font-weight: bold } // Keyword
  .o     { font-weight: bold } // Operator
  .cm    { color: #545454; font-style: italic } // Comment.Multiline
  .cp    { color: #545454; font-weight: bold } // Comment.Preproc
  .c1    { color: #545454; font-style: italic } // Comment.Single
  .cs    { color: #545454; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: #000; background-color: #fdd } // Generic.Deleted
  .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: #f07178 } // Generic.Error
  .gh    { color: #999 } // Generic.Heading
  .gi    { color: #000; background-color: #dfd } // Generic.Inserted
  .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
  .go    { color: #888 } // Generic.Output
  .gp    { color: #555 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: #f07178 } // Generic.Traceback
  .kc    { font-weight: bold } // Keyword.Constant
  .kd    { font-weight: bold } // Keyword.Declaration
  .kp    { font-weight: bold } // Keyword.Pseudo
  .kr    { font-weight: bold } // Keyword.Reserved
  .kt    { color: #FFCB6B; font-weight: bold } // Keyword.Type
  .m     { color: #F78C6C } // Literal.Number
  .s     { color: #C3E88D } // Literal.String
  .na    { color: #008080 } // Name.Attribute
  .nb    { color: #EEFFFF } // Name.Builtin
  .nc    { color: #FFCB6B; font-weight: bold } // Name.Class
  .no    { color: #008080 } // Name.Constant
  .ni    { color: #800080 } // Name.Entity
  .ne    { color: #900; font-weight: bold } // Name.Exception
  .nf    { color: #82AAFF; font-weight: bold } // Name.Function
  .nn    { color: #555 } // Name.Namespace
  .nt    { color: #FFCB6B } // Name.Tag
  .nv    { color: #EEFFFF } // Name.Variable
  .ow    { font-weight: bold } // Operator.Word
  .w     { color: #EEFFFF } // Text.Whitespace
  .mf    { color: #F78C6C } // Literal.Number.Float
  .mh    { color: #F78C6C } // Literal.Number.Hex
  .mi    { color: #F78C6C } // Literal.Number.Integer
  .mo    { color: #F78C6C } // Literal.Number.Oct
  .sb    { color: #C3E88D } // Literal.String.Backtick
  .sc    { color: #C3E88D } // Literal.String.Char
  .sd    { color: #C3E88D } // Literal.String.Doc
  .s2    { color: #C3E88D } // Literal.String.Double
  .se    { color: #EEFFFF } // Literal.String.Escape
  .sh    { color: #C3E88D } // Literal.String.Heredoc
  .si    { color: #C3E88D } // Literal.String.Interpol
  .sx    { color: #C3E88D } // Literal.String.Other
  .sr    { color: #C3E88D } // Literal.String.Regex
  .s1    { color: #C3E88D } // Literal.String.Single
  .ss    { color: #C3E88D } // Literal.String.Symbol
  .bp    { color: #999 } // Name.Builtin.Pseudo
  .vc    { color: #FFCB6B } // Name.Variable.Class
  .vg    { color: #EEFFFF } // Name.Variable.Global
  .vi    { color: #EEFFFF } // Name.Variable.Instance
  .il    { color: #F78C6C } // Literal.Number.Integer.Long
}

// Old background: d5d5d5
/* ---------------------------------------------------------------------------------------------------------------------------------------------------
                                                                      LAYOUT
---------------------------------------------------------------------------------------------------------------------------------------------------*/
html {
  font-size: $base-font-size;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color-lightest;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
  overflow-x: hidden;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  max-height: 85vh;
  vertical-align: middle;
  margin: auto;
  display: block;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
  @media screen and (min-width: $on-medium) {
    margin-left: $spacing-unit / 0.5;
  }
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

ol {
  list-style: none;
  counter-reset: mycounter;
}

ol li {
  position: relative;
  padding: 0 0 $spacing-unit / 3;
}

ol li::before{
  content:counter(mycounter); 
  counter-increment:mycounter;
  position:absolute;
  top:0;
  left:-2rem;
  width:25px;
  height:25px;
  line-height:25px;
  border-radius:50%;
  color: $background-color;
  font-weight: bold;
  background: $accent;
  text-align:center;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  color: $text-color;
  font-family: $header-font-family;
  font-weight: bold;
}

p {
  font-family: $p-font-family;
  letter-spacing: 0.075em;
}


/**
 * Links
 */
a {
  color: $link-base-color;
  text-decoration: underline;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $brand-color-dark;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  @include relative-font-size(1.1);
  font-style: italic;
  font-family: $p-font-family;

  > :last-child {
    margin-bottom: 0;
  }

  i, em {
    font-style: normal;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-family: $code-font-family;
  font-size: 0.9375em;
  border: 1px solid $border-color-01;
  border-radius: 3px;
  background-color: $code-background-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.highlight {
  border-radius: 3px;
  background: $code-background-color;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: $code-background-color;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.orange {
  color: $link-base-color;
}

.grey {
  color: $text-color;
}

.svg-icon {
  width: 1.15em;
  height: 1.15em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}


/**
 * Tables
 */
table {
  margin: $spacing-unit auto $spacing-unit;
  width: 100%;
  display: block;
  text-align: $table-text-align;
  color: $table-text-color;
  border-collapse: collapse;
  tr {
    &:nth-child(even) {
      background-color: $table-zebra-color;
    }
  }
  
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
    font-weight: normal;
  }
  th {
    background-color: $background-color;
  }

  @include media-query($on-laptop) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

table tr:first-child > th {
  font-weight: bold;
}


