/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  background: $background-color-light;
  z-index: 100 !important;
  color: $text-color;
  transition: 0.5s;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  color: $text-color;

  @include media-query($on-palm) {
    padding-right: 0px;
  }
  &:visited {
    color: $text-color;
  }
  &:hover {
    color: $accent;
  }
}

.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit / 2;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
    position: relative;
    z-index: 100 !important;

    > svg path {
      fill: $text-color;
    }

    &:hover > svg path {
      fill: $accent;
      transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
    transition: all 0.2s ease-in-out;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
    transition: all 0.2s ease-in-out;
  }

  .trigger {
    background: $background-color-dark;
    opacity: 0.95;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    .page-link {
      display: block;
    }
  } 

  .trigger-wrapper {
    height: 100vh;
    margin-top: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .regular-menu {
    .page-link {
      display: none;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: auto;
    }
  }
  
  .trigger-menu {
    .page-link {
      padding: 0 0 $spacing-unit;
      margin: auto;
      text-align: center;
    }
  }

  .page-link {
    color: $accent;
    line-height: $base-line-height;
    
    font-size: 1.1rem;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease;
    
    &:hover {
      color: $text-color;
      transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: none;
    }

    .trigger {
      display: none;
      background: transparent;
      .page-link {
        display: none;
      }
    }

    .regular-menu {
      .page-link {
        display: inline;
      }
    }

  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0 0;
  background: $background-color;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list, .tagcloud {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit / 2);

    &:first-child {
      padding-right: $spacing-unit / 2;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit / 2;
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding: 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;
  position: relative;
  > li {
    margin-bottom: $spacing-unit;
    background: $background-color-lighter;
    padding: $spacing-unit / 2;
    border-radius: 15px;
    box-shadow: 0 0 10px 0.5px $background-color-dark, inset 0 0 0.5px 0 $background-color-dark;
  }
}

.post-link {
  display: block;
  color: $accent;
  @include relative-font-size(1.7);
  &:visited {
    color: $accent;
  }

  &:hover {
    color: $text-color;
  }
}




/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(3);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3 { margin-top: $spacing-unit; color: $text-color;}
  h4, h5, h6 { margin-top: $spacing-unit / 2; color: $text-color;}

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: $spacing-unit / 4;
      &:hover { opacity: 0.5;}
    }
  }
}

.social-parent {
  display: table;
  margin: 0 auto;
  .social-child {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: $spacing-unit / 4;
      &:hover { opacity: 0.5;}
    }
  }
}


/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}


// CUSTOM STYLES //
.hero {
  padding: 0;
  background: $background-color-light;
  text-align: left;
  color: $text-color;
  h1 {
    margin-bottom: 0;
  }
  h2 {
    font-family: $p-font-family;
    color: $text-color;
    font-weight: normal;
  }
}



.header-title {
  font-size: 1.3rem;
  letter-spacing: -0.05em;
  font-family: $header-font-family;
  z-index: 100 !important;
}

.hero-title {
  font-family: "Montserrat", $base-font-family;
  font-weight: bold;
  letter-spacing: -0.03em;
  
  &:hover {
    color: $accent;
  }

  img {
    height: 7rem;
    width: auto;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transform-origin: 35.5% 38.75%;
  }
  img:hover {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }

  span {
    display: inline-block;
    vertical-align: text-bottom;
    margin: auto;
    height: 1em;
    width: 1em;
    margin: 0 -1.25rem 0;
    transform: translateY(-0.125em);
    border-radius: 0.5em;
    background: #F49F0A80;
  }
}

.sticky {
  position: sticky;
  top: 0;
  transform-origin: top;
  transition: 0.3s all ease-in;
  background: $background-color-dark;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.text-box {
  background: $background-color-lighter;
  color: $text-color;
  padding: 1.5em;
  border-radius: 15px;
  overflow: auto;
  z-index: -100;
  img {
    max-height: 8rem;
    width: auto;
    border-radius: 50%;
    float: right;
    margin: 0 0.25rem 15px;
    padding-left: 0.5rem;
  }
  ul, ol {
    margin-left: $spacing-unit;
  }
}

.relatedPosts-parent {
    background: $background-color-lighter;
}

.img-404 {
  max-height: 8rem;
  width: auto;
}

@media screen and (max-width: $on-palm) {
  .relatedPosts-parent {
    grid-template-columns: 1fr;
  }
}

.tag {
  color: $brand-color;
}

details {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  transition: 0.15s background linear;
}

summary {
  list-style: none;
  margin: 0.25em 0 0.75em;
  vertical-align: center;
  cursor: pointer;
  background: transparent;
}

summary:focus {
  outline: none;
}

summary::marker {
  display: none;
}

.information {
  position: relative;
  display: inline-block;
  background-color: $background-color-light;
  border: $text-color 2px solid;
  border-radius: 1em;
  margin: 0.1em 0.25em 0 0.1em;
  top: 0.5em;
  width: 23px;
  height: 23px;
}

details .information::before {
  position: absolute;
  font-weight: bold;
  content: '+';
  top: -0.1em;
  left: 50%;
  transform: translate(-50%);
}

details[open] .information::before {
  position: absolute;
  content: '-';
  top: -0.1em;
  left: 50%;
  transform: translate(-50%);
}

.details-content {
  margin-left: 0;
  padding: 0.75em;
  top: 0.5em;
  background: $background-color-lighter;
  position: relative;
  border-radius: 0 7.5px 7.5px 7.5px;
}

details .details-content::before {
  content: "";
  border-bottom: 15px solid $background-color-lighter;
  border-left: 0.75em solid transparent;
  border-right: 0.75em solid transparent;
  height: 0;
  left: 0px;
  position: absolute;
  top: -15px;
  width: 0;
}

.post .full-bleed {
  width: 100vw;
  margin-left: calc( (100vw - min(65ch, 100vw)) * (.2 / 1.2) * (-1) - 30px);
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
  content: "Inhoudsopgave";
  font-weight: bold;
  top: 1.5em;
  position: absolute;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
  list-style: decimal;
}

#markdown-toc {
  border: 1px solid #aaa;
  padding: 4.5em 1.5em 1.5em 3em;
  list-style: decimal;
  display: inline-block;
  position: relative;
  margin-left: 0;
}

// Images 


figcaption {
  max-width: 80%;
  margin: auto;
  display: block;
  font-style: italic;
  margin-bottom: $spacing-unit * 1.5;
}