// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

html[data-theme = "Dark"] {
    $yellow:                #ffbd69;
    $purple:                #543864;

    $orange:                #ff6363;


    $custom:               #5465FF;


    $custom-light:           #8f9aff !default;

    $brand-color:           #999999 !default;
    $brand-color-light:     lighten($brand-color, 5%) !default;
    $brand-color-lightest:     lighten($brand-color, 15%) !default;
    $brand-color-dark:      darken($brand-color, 35%) !default;

    $site-title-color:      $custom !default;

    $text-color:            #c5c5c5 !default;
    $background-color:       #1f1f1f !default; 

    $background-color-light: lighten($background-color, 3.5%) !default;
    $background-color-lighter: lighten($background-color, 7%) !default;
    $background-color-lightest: lighten($background-color, 15%) !default;
    $code-background-color:  $background-color-lighter !default;

    $link-base-color:       $custom-light !default;
    $link-visited-color:    $link-base-color !default;
    $link-hover-color:      $text-color !default;

    $border-color-01:       $brand-color-dark !default;
    $border-color-02:       $brand-color-light !default;
    $border-color-03:       $brand-color !default;

    $table-text-color:      $text-color !default;
    $table-zebra-color:     lighten($background-color, 4%) !default;
    $table-header-bg-color: lighten($background-color, 10%) !default;
    $table-header-border:   lighten($background-color, 21%) !default;
    $table-border-color:    $border-color-01 !default;

    $header-color:          $yellow;
}