---
layout: default
title: Blog
---
<div class='content-wrapper'>
  <div id='blogmarginsheader'>
      <h1 class='pagetitle' style="padding-bottom: 0.5rem;">Blog</h1>
      <div class='bloggrid'>
          <div class='left-column'>
            <h4 style="margin-bottom: 1rem;" id="subsubtitle" class='padding-left'>{{ page.title | upcase }}</h4>
              {{ content }}
          </div>
        <div class='right-column'>
          <div id='blogpostpadding'>
            {% include archive.html %} 
            <h4 style="margin-top: 0.5rem;" id="subsubtitle">FEED</h4>
            <span class='highlight'><a id="tagcloud" href="/feed.xml">RSS Feed</a></span>
          </div>
        </div>
    </div>
  </div>
</div>
