<!DOCTYPE html>
<html data-theme="dark" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% if page.url == "/" %}
        <div style="padding-bottom: 2rem;">
          {% include hero.html %}
        </div>
        
        {% endif %}
      
      <div class="anythingafterhero">

        {{ content }}
      </div>
      </div>
      </main>

    {% if page.url == "/" or page.url == "/info/" %}
    <script text="text/javascript">
      // Hide header-image if on homepage 
      var logo = document.querySelector(".header-image");
      logo.classList.add("header-image-hidden");

      // Determine offset of hero
      var rect = document.querySelector(".hero");
      var rt = window.scrollY + rect.getBoundingClientRect().bottom;
          
      // Add sticky to header on scroll and make header-image visible
      window.addEventListener("scroll", function(){
      var header = document.querySelector("header");
      header.classList.toggle("sticky", window.scrollY > rt);
      logo.classList.toggle("header-image-visible", window.scrollY > rt);
      })

     

    </script>
    {% endif %}

    {% unless page.url == "/" or page.url == "/info/" %}
    <script text="text/javascript">
        window.addEventListener("scroll", function(){
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
        })
    </script>
    {% endunless %}

    <script data-goatcounter="https://weetgraag.goatcounter.com/count"
        async src="http://gc.zgo.at/count.js"></script>

  </body>

</html>
