<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    
    {% if page.url == "/" %}
    {% include hero.html %}
    {% endif %}
    <main class="page-content" aria-label="Content">

    <div class="anythingafterhero">

      <div class="wrapper">
        {{ content }}
      </div>
      </main>

      {%- include footer.html -%}
    </div>
    
    {% if page.url == "/" %}
    <script text="text/javascript">
      // Hide header-image if on homepage 
      var logo = document.querySelector(".header-image");
      logo.classList.add("header-image-hidden");

      // Determine offset of hero
      var rect = document.querySelector(".hero");
      var rt = window.scrollY + rect.getBoundingClientRect().bottom;
          
      // Add sticky to header on scroll and make header-image visible
      window.addEventListener("scroll", function(){
      var header = document.querySelector("header");
      header.classList.toggle("sticky", window.scrollY > rt);
      logo.classList.toggle("header-image-visible", window.scrollY > rt);
      })

    </script>
    {% endif %}

    {% unless page.url == "/" %}
    <script text="text/javascript">
        window.addEventListener("scroll", function(){
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
        })

    </script>
    {% endunless %}
    <script data-goatcounter="https://koenraijer.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

  </body>

</html>
