--- 
layout: default
---
<div class='content-wrapper'>
    <div id='blogmargins'>
        <h2>{{ page.date | date: "%d-%m-%Y" }} &nbsp;//&nbsp;{{page.title}}</h2>
        <h3 style="font-weight: normal;">{{page.subtitle}}</h3>
        <br>
        {{ content }}

        {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <div style="margin-bottom: 0.5rem;">
            <span class='highlight'><a href="/tag/{{ tag_name }}">{{ tag_name }}</a></span>
        </div>
        {% endfor %}
        {% include archive.html %}
    </div>
</div>

