---
layout: default
---
<div class='content-wrapper'>
    <div id="blogmargins">
        <div id="blogpostpadding">
            <h1>{{ page.tag }}</h1>
            <h6 id="subsubtitle">BLOG POSTS</h6>
            <ul>
            {% for post in site.tags[page.tag] %}
              <li><h4><span id="hero-sub">{{ post.date | date: "%d-%m-%Y" }}&nbsp // &nbsp </span><a style="font-weight: normal;" href="{{ post.url }}">{{ post.title }}</a></h4><br>
              </li>
            {% endfor %}
            </ul>
        </div>
        {% include archive.html %} 
    </div>
</div>


