---
layout: default
---
<div class='content-wrapper'>
    <div id="blogmarginsheader">
        <div id="blogpostpadding">
            <h1 class="pagetitle" style="padding-bottom: 0.5rem;">All posts about {{ page.title | downcase}}</h1>
            <h4 style="margin-bottom: 1rem;" id="subsubtitle">BLOG POSTS</h4>
            <ul>
            {% for post in site.tags[page.tag] %}
              <li><h4><span id="hero-sub">{{ post.date | date: "%d-%m-%Y" }}&nbsp | &nbsp </span><a style="font-weight: normal;" href="{{ post.url }}">{{ post.title }}</a></h4><br>
              </li>
            {% endfor %}
            </ul>
        </div>
        {% include archive.html %} 
    </div>
</div>


